*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  margin: auto;
  gap: 30px;
}

.result {
align-self: end;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 18px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  align-items: center;
  gap: 40px;
}

.search-form__fieldset {
  display:flex;
  flex-direction: column;
  height: 100%;
  width: fit-content;
  border: none;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFF;
}

.search-form__label-text {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.6px;
}

.search-form__textfield {
border-top: 1px solid #FFF;
  border-right: none;
  border-bottom: 1px solid #FFF;
  border-left: none;
  padding: 2px 0;
  color: currentColor;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  background-color: transparent;
  inline-size: 225px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: 1px #fff solid;
  outline-offset: 1px;
}

.search-form__textfield:active {
  outline: 1px solid #FFF;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: block;
  border: 1px solid #FFF;
  inline-size: 19px;
  block-size: 19px;
}

.search-form__checkbox:checked ~ .search-form__pseudo-checkbox::after,
.search-form__checkbox:active ~ .search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  background-color: #FFF;
  inline-size: 15px;
  block-size: 15px;
  margin: 1px 0 0 1px;
}

.button {
  border: 1px white solid;
  padding: 6px 0;
  color: #ffff;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 19.6px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}
button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline 1px #FFF;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.search-form__submit-button {
  align-self: flex-end;
  width: 100%;
}

.content__details {
  inline-size: 100%;
}

.title {
  margin-bottom: 22px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 298px;
  overflow-y: auto;
}

.content__list-item {
  padding: 0 3px 0 2px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 5px;
}

.content__video-card-description-container {
  flex-grow: 1;
  max-width: 191px;
  padding: 2px 0 0 ;
}

.content__card-link {
  display: block;
  margin: 2px;
  text-decoration: none;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline 1px #FFF;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #FFF;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card-title {
  width: 196px;
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 192px; 
}

.content__video-card-description {
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  line-height: 16.2px;
  font-weight: 400;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
